/*
 *   Preload images for better response
 */
#preload {
   position: absolute;
   overflow: hidden;
   left: -9999px;
   top: -9999px;
   height: 1px;
   width: 1px;
}

#main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 770px;
  width: 100%;
  justify-content: flex-start;
  background-image: url("stor.png"); 
  padding-left:10px;
}

#settings {
  order: 1;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin-top:30px;
  width:240px;
}

.controls {
  width:175px;
  height: 75px; 
  padding: 15px;
  padding-left: 20px;
}

.controls select {
  width: 150px;
}


#program {
  order: 2;
  width:185px;
  height: 160px;
  padding:10px;
  padding-left:20px;
  margin-top: 20px;
}

#program label {
   display:block;
   padding: 5px;
   padding-top:3px;
}

#view {
  order: 4;
  flex: 0 1 auto;
  width: 880px;
  height: 750px;
  border: solid green 1px;
  position: relative;
}

#leksjon {
  order: 3;
  width:205px;
  height: 195px; 
  background: rgba(250,250,250,0.3);
  margin-top: 10px;
}

#leksjonListe {
  display: flex;
  flex-direction: column;
}

#leksjon h4 {
  padding:0;
  padding-left: 16px;
  font-size:1.4em;
  margin-top: 20px;
  margin-bottom:8px;
}

#leksjonListe div {
   width:165px;
   padding-left:18px;
   white-space: nowrap;
   padding-top:5px;
 }




@media (max-width: 618px) {
 #settings {
  flex: 0 1 450px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top:0px;
 }
  
 #main {
  padding:5px;
  flex-direction: row;
  width: 540px;
  height: 740px;
  background-image: url("liten.png");
 }  
 
 #view {
  order: 3;
  width: 100%;
  height: 420px;
  margin-left: 0px;
 }

 .controls {
  width: 170px;
  height: 70px; 
 }
 
 #aperture {
   order: 2;
 }

 #program {
  margin-left:12px;
  width:210px;
  height: 60px;
  padding: 5px;
  margin-top:8px;
 }

 #leksjon {
  order: 4;
  width: 100%;
  height: 110px;
 }
 
 #program label {
   display:inline;
   padding: 1px;
 }
 
 #leksjonListe {
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: flex-start;
 }
 
  #leksjonListe div {
   padding-left:15px;
   padding-top:2px;
 }
 
 #view > div {
   position: absolute;
   top:20px;
   left:20px;
 }
 
 #status {
   
 }
  
}


