/*
 *   Preload images for better response
 */
#preload {
   position: absolute;
   overflow: hidden;
   left: -9999px;
   top: -9999px;
   height: 1px;
   width: 1px;
}

#main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
  width: 1100px;
  justify-content: flex-start;
}

#leksjon {
  order: 3;
  width:205px;
  height: 195px; 
  background: whitesmoke;
}

#settings {
  order: 1;
  flex: 1 1 2;
  display: flex;
  flex-direction: column;
}

.controls {
  width:175px;
  height: 75px; 
  padding: 15px;
}

.controls select {
  width: 150px;
}


#program {
  order: 2;
  width:185px;
  height: 160px;
  padding:10px;
}

#program label {
   display:block;
   padding: 5px;
   padding-top:3px;
}

#view {
  order: 4;
  flex: 0 1 auto;
  width: 880px;
  height: 700px;
  border: solid gray 1px;
}

#leksjonListe {
  display: flex;
  flex-direction: column;
}

#leksjon h4 {
  padding-left: 12px;
}




@media (max-width: 618px) {
 #settings {
  flex: 0 1 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
 }
  
 #main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 480px;
  height: 700px;
  justify-content: flex-start;
 }  
 
 #view {
  order: 3;
  width: 100%;
  height: 380px;
}

 .controls {
  width: 170px;
  height: 80px; 
 }
 
 #aperture {
   order: 2;
 }

 #program {
  width:220px;
  height: 60px;
 }

 #leksjon {
  order: 4;
  width: 100%;
  height: 110px;
 }
 
 #program label {
   display:inline;
   padding: 1px;
 }
 
 #leksjonListe {
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: wrap;
 }
 
  #leksjonListe div {
   padding-left: 15px;
 }

  
}


